# Python virtual environment
/venv/

# System-specific files
.DS_Store
Thumbs.db

# VS Code specific settings
.vscode/

# Model files (excluding the LSTM model files for deployment)
models/*.pkl
# Allow LSTM model files for deployment:
# models/*.h5
# models/*.json
models/*.keras

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints