# Python virtual environment
/venv/

# System-specific files
.DS_Store
Thumbs.db

# VS Code specific settings
.vscode/

# Model files (large files that should be regenerated locally)
models/*.pkl
models/*.keras
models/*.h5

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints