# Python virtual environment
/venv/

# Data files
/data/

# Trained models can be very large and should not be tracked
/models/

# System-specific files
.DS_Store
Thumbs.db

# VS Code specific settings
.vscode/